eAttendance/Connected Services/UpdateSoftwareInformation/UpdateLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateSoftwareInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="port" nillable="true" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSoftwareInformationResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSoftwareInformationSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSoftwareInformation" />
  </wsdl:message>
  <wsdl:message name="UpdateSoftwareInformationSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSoftwareInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="UpdateLoginServiceSoap">
    <wsdl:operation name="UpdateSoftwareInformation">
      <wsdl:input message="tns:UpdateSoftwareInformationSoapIn" />
      <wsdl:output message="tns:UpdateSoftwareInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateLoginServiceSoap" type="tns:UpdateLoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSoftwareInformation">
      <soap:operation soapAction="http://tempuri.org/UpdateSoftwareInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UpdateLoginServiceSoap12" type="tns:UpdateLoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateSoftwareInformation">
      <soap12:operation soapAction="http://tempuri.org/UpdateSoftwareInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateLoginService">
    <wsdl:port name="UpdateLoginServiceSoap" binding="tns:UpdateLoginServiceSoap">
      <soap:address location="https://localhost:44380/UpdateLoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="UpdateLoginServiceSoap12" binding="tns:UpdateLoginServiceSoap12">
      <soap12:address location="https://localhost:44380/UpdateLoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>